{% extends 'publicsection/base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}
    <!-- Sign up form -->
    <section class="text-gray-600 body-font relative">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">About Us</h1>
        </div>
        <div class="w-full p-2">
          <div class="flex flex-wrap -m-2">
             <p>
                We are providing professional network for scientists and researchers to help them in their research and work. Our members or user from all over the world use it to share, discover, and discuss research. We're guided by our mission to connect the world of science and make research open to all.<br><br>

                <span style="font-weight: 600;">We solve problems that matter:</span><br>
                Accelerating science is what drives us. We've built a platform that gives the world's scientists or researchers the tools and services they need to connect, collaborate, and advance their research.<br><br>

                 <span style="font-weight: 600;">Have some Question?</span><br>
                If you're motivated by our work but can't find the position you're looking for, don’t worry we'd love to hear from you. Tell us more about why you'd like to join us and what our work means to you.
             </p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
