{% extends 'publicsection/base.html' %}
{% block title %}Account created{% endblock %}

{% block content %}

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <div class="w-full md:pr-16 lg:pr-0 pr-0" style="margin-bottom: 170px">
          <p class="mt-4" style="color:green;font-size: 24px">Your account has been created. Admin will approve your account as soon as possible. After admin approval, you will be able to access your account. Thanks for your interest in our application.</p><br>
        </div>
      </div>
    </section>
{% endblock %}
