{% extends 'publicsection/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <!-- intro section -->
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
          <h1 class="title-font font-medium text-3xl text-gray-900">Scientific Articles Recommendation System (SARS)</h1>
          <p class="leading-relaxed mt-4">We are providing you the facility of Recommendation of scientific Articles. Which will help you in your resaerch and also provide scientific information.</p>
        </div>

        <!-- sign in form section -->
        <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
            <p style="color: orangered">{{ Message }}</p>
          <h2 class="text-gray-900 text-lg font-medium title-font mb-5" id="signin">Sign-In</h2>
            <form action="{% url 'UserLogin' %}" method="post">
                {% csrf_token %}
          <div class="relative mb-4">
            <label for="full-name" class="leading-7 text-sm text-gray-600">Email</label>
            <input type="email" placeholder="Enter email" id="full-name" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="pass" class="leading-7 text-sm text-gray-600">Password</label>
            <input type="password" placeholder="Enter password" id="pass" name="password" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <!-- submit button -->
          <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Sign-In</button>
          </form>
            <p class="text-xs text-gray-500 mt-3">If you are not register, Please <a href="{% url 'SignUpStep1' %}" style="color: blue">create an account</a> or <a href="{% url 'reset_password' %}" style="color: blue">reset your passoword</a></p>
        </div>
      </div>
    </section>
{% endblock %}
