{% extends 'publicsection/base.html' %}
{% block title %}Privacy Policy{% endblock %}

{% block content %}
    <!-- Sign up form -->
    <section class="text-gray-600 body-font relative">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Privacy Policy</h1>
        </div>
        <div class="w-full p-2">
          <div class="flex flex-wrap -m-2">
             <p>
                 <span style="font-weight: 600;">Security:</span><br>

                We built this system for open scientific exchange, but some things still need to stay private. That’s why we’ve put multiple measures in place to ensure our services are secure at every step, from sign-up to the private storage of your research.<br><br>

                 <span style="font-weight: 600;">Verified accounts:</span><br>

                Scientists sign up to our system with their real name and institutional email address or go through an individual sign up process to prove their identity and research activity. This reduces the risk of impostor accounts and increases the level of trust.

             </p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
