{% extends 'publicsection/base.html' %}
{% load static %}
{% block title %}Change password{% endblock %}


{% block content %}

    <!-- Password change form -->
    <section class="text-gray-600 body-font relative">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Change Password</h1>

            <!--Displaying built-in errors-->
            {% for field in form %}
                {% for error in field.errors %}
                        <div class="bg-red-100 border border-red-100 text-red-700 px-4 py-3 rounded relative" role="alert">
                          <strong class="font-bold">Opp's!</strong>
                          <span class="block sm:inline">{{ error }}.</span>
                          <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                          </span>
                        </div>
               {% endfor %}
            {% endfor %}

        </div>


        <div class="lg:w-1/2 md:w-2/3 mx-auto">
          <div class="flex flex-wrap -m-2">
              <form action="#" class="p-2 w-full" method="POST">
                  {% csrf_token %}

                   <div class="p-2 w-full">
                      <div class="relative">
                        <label for="opassword" class="leading-7 text-sm text-gray-600">Old Password</label>
                        <input type="password" placeholder="Enter old password" id="opassword"  name="old_password" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                      </div>
                    </div>

                  <div class="p-2 w-full">
                      <div class="relative">
                        <label for="password1" class="leading-7 text-sm text-gray-600">New Password</label>
                        <input type="password" placeholder="Enter new password" id="password1"  name="new_password1" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                      </div>
                    </div>

                  <div class="p-2 w-full">
                      <div class="relative">
                        <label for="password2" class="leading-7 text-sm text-gray-600">Confirm Password</label>
                        <input type="password" placeholder="Confirm password" id="password2"  name="new_password2" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                      </div>
                    </div>

                    <div class="p-2 w-full">
                      <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="submit">Change password</button>
                    </div>
             </form>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
