{% extends 'publicsection/base.html' %}
{% block title %}Password Reset Successfully!{% endblock %}

{% block content %}

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <div class="w-full md:pr-16 lg:pr-0 pr-0" style="margin-bottom: 170px">
          <p class="mt-4" style="color:green;font-size: 24px">Your password has been reset successfully. Now you can login to the system using your new password.</p><br>
            <a href="{% url 'UserLogin' %}">Click here to login</a>
        </div>
      </div>
    </section>
{% endblock %}
