{% extends 'publicsection/base.html' %}
{% block title %}Password Reset Link Sent{% endblock %}

{% block content %}

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <div class="w-full md:pr-16 lg:pr-0 pr-0" style="margin-bottom: 170px">
          <p class="mt-4" style="color:green;font-size: 24px">We have sent a password reset link to your registered
         email. Please check out your email & follow the link in order to reset your password.</p><br>
        </div>
      </div>
    </section>
{% endblock %}

