{% extends 'publicsection/base.html' %}
{% load filters %}
{% block title %}Search results{% endblock %}

{% block content %}
    <!-- search articles section -->
    <section class="text-gray-600 body-font" style="margin-bottom: 200px">
      <div class="container px-5 py-24 mx-auto">
        <h1 class="sm:text-3xl text-2xl text-center font-medium title-font mb-4 text-gray-700">Search results</h1><br>
        <p style="text-align: center">{{ Message }}</p>
        <div class="flex flex-wrap -m-4">

            <!--Getting article according to user query-->
            {% for a in SearchArticles %}
              <div class="p-4 md:w-1/3">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                  <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{{ a.article_image.url }}" alt="Article Thumbnail">
                  <div class="p-6">
                    <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">CATEGORY</h2>
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{ a.Category.category_name }}</h1>
                    <p class="leading-relaxed mb-3">{{ a.article_title }}</p>
                    <div class="flex items-center flex-wrap ">
                      <a href="{% url 'ShowSingleArticle' a.id %}" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M5 12h14"></path>
                          <path d="M12 5l7 7-7 7"></path>
                        </svg>
                      </a>
                      <span title="Views" class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1">
                        <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                          <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                          <circle cx="12" cy="12" r="3"></circle>
                        </svg>{{ request|ArticleViews:a.id }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}


        </div>
      </div>
    </section>


{% endblock %}
