{% extends 'adminsection/admin_base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

    <main class="flex-1 max-h-full p-5 overflow-hidden overflow-y-scroll">
      <h3 class="mt-6 text-xl">Profile</h3>

      <!--Displaying messages-->
        {% for message in messages %}
            <br>
            <div style="background-color: rgba(255, 104, 3,0.2)" class="px-4 py-3 rounded relative lg:w-1/2 md:w-2/3 mx-auto" role="alert">
              <span class="block sm:inline">{{ message }}</span>
            </div><br>
        {% endfor %}
      <div class="flex flex-col mt-6">


        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <div class="overflow-hidden border-b border-gray-200 rounded-md shadow-md">
              <table class="min-w-full overflow-x-scroll divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                      Title
                    </th>
                    <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                      Details
                    </th>

                </thead>
                <tbody class="bg-white divide-y divide-gray-200">

                    <tr class="transition-all hover:bg-gray-100 hover:shadow-lg">

                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="ml-4">
                            <div class="text-sm font-medium text-gray-900">Full Name</div>
                          </div>
                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="text-sm font-medium text-gray-500">{{ request.user.first_name }} {{ request.user.last_name }}</div>
                      </td>
                    </tr>

                     <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="ml-4">
                            <div class="text-sm font-medium text-gray-900">Username</div>
                          </div>
                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="text-sm font-medium text-gray-500">{{ request.user.username }}</div>
                      </td>
                    </tr>

                        <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="ml-4">
                            <div class="text-sm font-medium text-gray-900">Email</div>
                          </div>
                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="text-sm font-medium text-gray-500">{{ request.user.email }}</div>
                      </td>
                    </tr>


                      <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="ml-4">
                            <div class="text-sm font-medium text-gray-900">Joined date</div>
                          </div>
                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="text-sm font-medium text-gray-500">{{ request.user.date_joined }}</div>
                      </td>

                    </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>


{% endblock %}
