{% extends 'adminsection/admin_base.html' %}
{% block title %}Update User{% endblock %}
{% block content %}

    <main class="flex-1 max-h-full p-5 overflow-hidden overflow-y-scroll">
      <h3 class="mt-6 text-xl">Update User</h3>
        <!--Displaying messages-->
        {% for message in messages %}
            <br>
            <div style="background-color: rgba(255, 104, 3,0.2)" class="px-4 py-3 rounded relative lg:w-1/2 md:w-2/3 mx-auto" role="alert">
              <span class="block sm:inline">{{ message }}</span>
            </div><br>
        {% endfor %}

      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-2">
            <form action="{% url 'UserProfileUpdateViewAdmin' User.id %}" class="p-2 w-full" method="post">
                  {% csrf_token %}
                    <div class="p-2 w-full">
                      <div class="relative">
                        <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                        <input type="email" value="{{ User.email }}" placeholder="Enter a valid email" id="email"  name="email" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                      </div>
                    </div>

                  <div class="p-2 w-full">
                      <div class="relative">
                        <label for="firstname" class="leading-7 text-sm text-gray-600">First name</label>
                        <input type="text" value="{{ User.first_name }}" placeholder="Enter first name" id="firstname"  name="first_name" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                      </div>
                    </div>

                  <div class="p-2 w-full">
                      <div class="relative">
                        <label for="lastname" class="leading-7 text-sm text-gray-600">Last name</label>
                        <input type="text" value="{{ User.last_name }}" placeholder="Enter last name" id="lastname"  name="last_name" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                      </div>
                    </div>


                    <div class="p-2 w-full">
                      <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="submit">Update User</button>
                    </div>
             </form>
        </div>

      </div>
    </main>

{% endblock %}
